# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Deploy App

on:
  push:
    branches: ["master"]

jobs:
  # Deployment job
  deploy:
    runs-on: ubuntu-latest
    # needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install SSH client
        run: sudo apt-get install -y ssh-client

      - name: Deploy to server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.TARGET_DIR }}
          ARGS: -rlgoDzvc
            -i
            --exclude=.next
            --exclude=.env
            --exclude=.env.example
            --exclude=.env.production
            --exclude=.gitignore
            --exclude=.git
            --exclude=.github
            --exclude=*.gitkeep
            --exclude=.gitignore
            --exclude=node_modules
            --delete
  build:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Build and reload
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ secrets.TARGET_DIR }}
            yarn
            yarn build
            pm2 restart ecosystem.config.cjs --only ivanreshetar.com || \
              pm2 start ecosystem.config.cjs --only ivanreshetar.com
            pm2 save
